@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select:focus {
  box-shadow: none !important;
}

html,
* {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Load variable Inter font file : All font weights and styles */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/InterVariable.ttf");
  font-display: swap;
}

/* --------------------------- Instrument Serif Font ---------------------------- */
/* font weight : 400 && Italic Font Style */
@font-face {
  font-family: "Instrument Serif";
  src: url("../assets/fonts/instrument-serif/InstrumentSerif-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
